    <header
      class="supports-backdrop-blur:bg-background/60 bg-background/95 flex w-full justify-between backdrop-blur">
  <section class="container flex justify-between h-14 items-center">
    <nav class="flex items-center space-x-6 text-sm font-medium">
      <%= render_button "~", variant: :ghost, as: :link, href: root_path %>
    </nav>
    <nav class="flex items-center space-x-6 text-sm font-medium">
      <%= link_to "Logout", logout_path, class: "hover:text-foreground/80 text-foreground/60 transition-colors" if signed_in? %>
      <% if !signed_in? %>
        <%= link_to "Signup", signup_path, class: "hover:text-foreground/80 text-foreground/60 transition-colors" %>
        <%= link_to "Login", login_path, class: "hover:text-foreground/80 text-foreground/60 transition-colors" %>
      <% end %>
    </nav>
  </section>
</header>
<div
  class="container flex flex-row items-center justify-center">
  <div class="my-20">
    <div class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-[350px]">
      <div class="flex flex-col space-y-2 text-center">
        <h1 class="text-2xl font-semibold tracking-tight">Create an account</h1>
        <p class="text-muted-foreground text-sm">Enter your email and your password below.</p>
        <% if @user.errors.any? %>
          <div class="text-left"><%= render_alert variant: :error, title: "Failed to Create Account", description: @user.errors.full_messages.join("</br>").html_safe %></div>
        <% end %>
      </div>
      <div class="grid gap-6">
        <%= render_form_for(@user, url: signup_path) do |f| %>
          <div class="grid gap-2">
            <div class="grid gap-1">
              <div class="grid gap-1">
                <%= f.label :email, class: "sr-only" %>
                <%= f.email_field :email, placeholder: "name@example.com",
                                        autocomplete: :email,
                                        autocorrect: "email",
                                        autocapitalize: "none" %>
              </div>
              <div class="grid gap-1">
                <%= f.label :password, class: "sr-only" %>
                <%= f.password_field :password, placeholder: "Your password...",
                                              autocomplete: "current-password" %>
              </div>
              <div class="grid gap-1">
                <%= f.label :password, class: "sr-only" %>
                <%= f.password_field :password_confirmation, placeholder: "Confirm your password...",
                                              autocomplete: "current-password" %>
              </div>
              <%= f.submit "Create Account" %>
            </div>
          <% end %>
        </div>
        <p class="text-muted-foreground px-8 text-center text-sm">
          By clicking continue, you agree to our
          <a
          class="hover:text-primary underline underline-offset-4"
          href="/terms">Terms of Service</a>
          and
          <a
          class="hover:text-primary underline underline-offset-4"
          href="/privacy">Privacy Policy</a>.
        </p>
      </div>
    </div>
  </div>
  <%= render_toast header: flash[:alert], variant: :error if flash[:alert] %>
  <%= render_toast header: flash[:notice], variant: :default if flash[:notice] %>
