<%= render "pages/shared/header" %>
<main>
  <%= render "pages/landing/cta" %>
  <%= render "pages/landing/marketing" %>
  <%= render "pages/landing/blog" %>
</main>
<%= render "pages/landing/footer" %>
