<!DOCTYPE html>
<html>
  <head>
    <title>Rails Authentication Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= render_toast header: flash[:alert], variant: :destructive if flash[:alert] %>
    <%= render_toast header: flash[:notice], variant: :success if flash[:notice] %>
  </body>
</html>
